<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Chào mừng đến với SheCodes Mentorship. Vui lòng xác thực tài khoản của
      bạn.
    </title>
  </head>
  <body style="box-sizing: border-box; background-color: #f5f5f5">
    <div
      class="container"
      style="margin: 0 auto; width: 85%; background-color: #fff; padding: 1rem"
    >
      <div class="block-1">
        <p style="font-size: 14px">Hi {{ username }},</p>
        <p style="font-size: 14px">
          Chúng tôi nhận thấy bạn đã gửi yêu cầu để khôi phục mật khẩu cho tài
          khoản SheCodes Mentorship. Để khôi phục mật khẩu, bạn vui lòng nhấn
          vào nút bên dưới:
        </p>
      </div>
      <div class="block-2">
        <a
          href="{{ confirmUrl }}"
          target="_blank"
          class="btn"
          style="
            background-color: #6f3e97;
            font-size: 14px;
            border-radius: 6px;
            padding: 0.7rem 1rem;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            margin: 2rem auto;
            display: block;
            width: max-content;
          "
        >
          Khôi phục mật khẩu
        </a>
      </div>
      <div>
        <p style="font-size: 14px; width: 100%">
          <strong>Facebook: </strong
          ><a href="https://www.facebook.com/shecodesvietnam"
            >https://www.facebook.com/shecodesvietnam</a
          >
        </p>
        <p style="font-size: 14px; width: 100%">
          <strong>Email: </strong
          ><a href="mailto:nguyetque.shecodes@gmail.com"
            >nguyetque.shecodes@gmail.com</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
